name = "worker-rust"
main = "build/worker/shim.mjs"
compatibility_date = "2023-12-01"

[[kv_namespaces]]
binding = "ll-dev"
id = "..."
preview_id = "..."

[vars]
PUBNUB_PUBLISH_KEY = "pub-c-..."
PUBNUB_SECRET_KEY = "sec-c-..."
PUBNUB_SUBSCRIBE_KEY = "sub-c-..."

[build]
command = "cargo install -q worker-build && worker-build --release"

[env.dev]
build = { command = "cargo install -q worker-build && worker-build --dev" }
